body { 
    background-image: url('https://shootforthemoon-photos.s3.us-east-2.amazonaws.com/1572677255603') ;
    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;
    background-color: #999;
}